<div class="FFooter">
	2012 by <a href="http://weibo.com/linojoj" target=blank style="color:#595959">@欧贼欧贼</a> lin_style#foxmail.com
	<br/>
	内测版 V0.2.0
<!-- 百度统计	 
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fdf93afa5d0be5594f03cc7b7f6bfcf7e' type='text/javascript'%3E%3C/script%3E"));
</script>
-->
</div>
