<div class="FFooter">
	2012 by <a href="http://weibo.com/linojoj" target=blank style="color:#595959">@欧贼欧贼</a> lin_style#foxmail.com
	<br/>
	内测版 V0.3.2
<!-- 百度统计	 
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fae8afa2a70e54b586331b1417eed06e8' type='text/javascript'%3E%3C/script%3E"));
</script>	-->
</div>
