	<div class="FUserHeader">		
		<div class="FUserHeaderList" >	
			<li style="float:left;">
				元芳:[大人]，注册个吧。注册了可以关注事件，创建事件，发言什么的。。方便极了。------>		
			</li>
		  <li style="float:left;">
		  	<%= link_to('注册/登陆', :controller => 'admin', :action => 'index') %>  		
		  </li>	
		</div>
	</div>