/* 登陆首页CSS */

.FHead
{
	margin-top:40px;
}

.FMainContent 
{
	height:500px; 
	margin-top:20px;
}

.FNewForm
{
	width:38%;
	height:100%;
	float:left;
	background:#DAF1FD;
	border-radius: 3px 3px 3px 3px;
}

.FLoginForm
{
	width:62%;	
	height:100%;
	float:right;
	background:#FFFFFF;
}



/*错误信息提示*/
.FLoginErrNotic
{
	margin-top:140px;
  width:80px;
  height:60px;
}