/*用户登录后的CSS*/

/*头部条*/
.FUserHeader 
{
	z-index: 9998;
	height: 30px;
	width: 100%;	
	left: 0;
	top: 0;
	font: 12px/1.125 Arial,Helvetica,sans-serif;
	position: fixed;
	background-repeat: repeat-x;
	background: url(global_bg.png);
	line-height:30px;
	color:white;
}

.FUserHeader a:link  /* 未访问的链接 */
{
	text-decoration:none;color: white;
} 

.FUserHeader a:visited /* 已访问的链接 */
{
	text-decoration:none;color:white;
} 

.FUserHeaderList
{
	margin:0 auto;
	width:950px;
	font-size: 14px;
}

.FUserHeaderList li
{
  float:left; 
  margin-left:20px; 
  text-align: center;
}

/*有点别扭，头部链接的下级弹出菜单不受影响*/
.FUserHeaderList li li
{	
	margin-left:0px;
}

.FUserHeaderList li a
{
	padding-left:3px;
	padding-right:3px;
	display:block;	
}

.FUserHeaderList a:hover  /*鼠标放上去*/
{
	background:#4480A1;
}

/*
	my_event的list链接
*/
.MyEventList
{
	margin-bottom:10px;	
  font: normal 12px/1.667 'Helvetica Neue',Tahoma,Arial;
  font-family: 'Helvetica Neue',Tahoma,Arial,sans-serif;
}
.MyEventList li
{
	float:left;
	margin-left:5px;
}

.MyEventList li a
{
	display:block;		
}

.MyEventList li a:active
{
	color:#551A8B;
}



.HeaderLinkSelect
{
	background:#3B6E8B;
}

/*公共事件内容块显示*/
.FLabelEvent li
{
	float:left;
	width:110px;
	height:100%;	
	padding:10px;
	margin-left:5px;
	margin-top:5px;
	line-height: 22px;
	background:#559DC4;
	color: #3E3E3E;	
}

.FLabelEvent li a
{
	display:block;		
}


/*
	标题描述
*/
.LabelEventTitle
{
	height:60px;
}

.LabelEventAttr
{
	font-size:12px;
	color:#595959;
	margin-top:10px;
}

/*点击事件显示的内容页面*/
.FUserMessageContent 
{
	width:630px;
	height:100%; 
	margin-left:100px;
}

.LabelMHead
{
	height:50px;
	width:50px;
	float:left;
	background:#FFffFF;
}

.LabelMContent
{
	width:570px;
	float:left;
	padding-left:10px;
	font-size: 14px;
	line-height: 22px;	
}

.LabelMAttr
{
	margin-top:20px;
	color: #595959;
	font-size: 12px;
	font: 12px/1.125 Arial,Helvetica,sans-serif;		
}

.LabelSendMsgResult
{
	width:100%;
	text-align:center;
}