/*用户登录后的CSS*/

/*头部条*/
.FUserHeader 
{
	z-index: 9998;
	height: 35px;
	width: 100%;	
	left: 0;
	top: 0;
	font: 12px/1.125 Arial,Helvetica,sans-serif;
	position: fixed;
	background-repeat: repeat-x;
	background: url(global_bg.png);
	line-height:33px;
}

.FUserHeaderList
{
	margin:0 auto;
	width:950px;	
}

.FUserHeaderList li
{
  float:left; 
  margin-left:20px;
  padding-left:5px;
  padding-right:5px;
  font-size: 14px;
}


.FUserMainContent 
{
	width:950px;
	height:100%; 
	margin-top:50px;
	background:#00ffff;	
}

.HeaderLinkSelect
{
	background: #4480A1;
}

/*公共事件内容块显示*/
.FLabelEvent li
{
	float:left;
	margin-left:5px;
	margin-top:5px;
}

.LabelEvent
{
	width:120px;
	height:100px;
	padding:15px;
	background:#00B7DF;	
	
}

.LabelEventTitle
{
	height:60px;
}

.LabelEventAttr
{
	margin-top:10px;
}

/*点击事件显示的内容*/
.FunctionOperate
{
	margin-top:20px;	
	background:#ff0000;		
}