<%= render('common/header') %>  <!-- 头部 -->

<div class="FMain">  
	
  <div class="FUserMainContent">
  	22  	
  </div><!--FUserMainContent-->
</div>

<%= render('common/footer') %>  <!-- 尾部 -->