<%= render('common/header') %>  <!-- 头部 -->

<div class="FMain">  
	
  <div class="FUserMainContent">
	<!-- 功能区 -->
	<div class="FunctionOperate">
		33	
	</div>
  	
	<!-- 翻页 -->

  </div><!--FUserMainContent-->
  


  <%= render('common/footer') %>  <!-- 尾部 -->

</div>