<%= render('common/header_common_page') %>  <!-- 头部 -->

<div class="FMain">  
	
  <div class="FUserMainContent">
	
	<!-- 内容显示 -->
	<div class="LabelMessage">
		<div class="LabelMHead">
			
		</div>
		
		<div class="LabelMContent">
			
		</div>
		
		<div class="LabelAttr">

		</div>				
				
	</div>
  	
	<!-- 翻页 -->
	<div align="center">
		<%= paginate @messages %>
	</div>  

  </div><!--FUserMainContent-->
  
</div>

<%= render('common/footer') %>  <!-- 尾部 -->