<%= render('common/header_common_page') %>  <!-- 头部 -->

<div class="FMain">  
	
  <div class="FUserMainContent">
	
	<!-- 内容显示 -->
	<div class="EventContentShowMessage">
		
	</div><!--EventContentShowMessage-->
  	
	<!-- 翻页 -->
	<div align="center">
		<%= paginate @events %>
	</div>  

  </div><!--FUserMainContent-->
  


  <%= render('common/footer') %>  <!-- 尾部 -->

</div>