<%= render('common/header') %>  <!-- 头部 -->

<div class="FMain">  
  <%= render('common/event_show') %>  <!-- 内容显示块 -->
  	
	<!-- 翻页 -->
	<div class="Paginate">
		<%= paginate @events %>
	</div>

</div>

<%= render('common/footer') %>  <!-- 尾部 -->