<script language="javascript">   
function ShowCreateEventDiag()
{ 
	var diag=document.getElementById('DPopDiag'); 
	var shade=document.getElementById('DPopDiagShade'); 
	diag.style.display='block'; 
	shade.style.display='block'; 
} 

function HideCreateEventDiag()
{ 
	var diag=document.getElementById('DPopDiag'); 
	var shade=document.getElementById('DPopDiagShade'); 
	diag.style.display='none'; 
	shade.style.display='none'; 
} 


/*输入框的内容长度变化提示*/
function CheckInputContentLength(Edit, maxlen) 
{
	
	if (Edit.value.length > maxlen) 
	{
		document.getElementById('send_button').disabled=true
		document.getElementById('send_button').className="link-btn-disable"
		document.getElementById('content_notic').innerHTML = "已经超出";
		
		document.getElementById('content_remaining').innerHTML = Edit.value.length-15;
	}
	else
	{
		document.getElementById('send_button').disabled=false
		document.getElementById('send_button').className="link-btn-send";
		document.getElementById('content_notic').innerHTML = "还可输入";
		document.getElementById('content_remaining').innerHTML = maxlen-Edit.value.length;
	}
}

</script> 


<%= render('common/header') %>  <!-- 头部 -->

<div class="FMain">
	<%= link_to('取消关注',:controller => 'user_index', :action => 'follow_common_event_cancel', :id=>"#{@event_id}") %>					
  
</div>

<%= render('common/footer') %>  <!-- 尾部 -->